DATABASE_NAME=i_service
DATABASE_USER=i_service
DATABASE_PASSWORD=i_service
ALLOWED_HOSTS='127.0.0.1'
SECRET_KEY=d37a0086843b7f00c3ff98bfea7d1bd2
PROXY_IMAGES_DIR=/var/www/proxyimages
PROXY_IMAGES_URL=http://127.0.0.1/proxy-images
PROXY_FOR_INSTAGRAM=''
